body{
    max-width: 1100px;
    margin: 0 auto;
    padding:16px;
}
.task{
    padding-bottom:20px;
    margin-bottom:20px;
}
.container{
    background-color: coral;
    border: 1px solid lightgreen;
    height:240px;
    border-radius: 4px;
}
.item{
    width:40px;
    height:40px;
    border-radius:4px;
    box-shadow: 0px 2px 4px rebeccapurple;
    background-color: crimson;
    text-align: center;
}

.sm{
    width:20px;
}
.lg{
    width:20px;
}
.task-1 .container{
    display: flex;
}
.task-2 .container{
    display: flex;
    justify-content: center;
    /* justify-content:flex-start;
    justify-content:flex-end;
    align-items: center; */

}
.task-3 .container{
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: space-around;
}